In [1]:
import acquire as acq
import os 
import pandas as pd
from sklearn.model_selection import train_test_split
import prepare as prep
#directory
directory = os.getcwd()

Using the Iris Data:

1. Use the function defined in acquire.py to load the iris data.

In [2]:
iris_df = acq.get_iris_data(directory)

In [3]:
prep.prep_iris(iris_df)

,sepal_length,sepal_width,petal_length,petal_width,species_name,species_name_versicolor,species_name_virginica
0,5.1,3.5,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,0,1
146,6.3,2.5,5.0,1.9,virginica,0,1
147,6.5,3.0,5.2,2.0,virginica,0,1
148,6.2,3.4,5.4,2.3,virginica,0,1
149,5.9,3.0,5.1,1.8,virginica,0,1

2. Drop the species_id and measurement_id columns.

In [26]:
df = df_iris.drop(columns=["species_id", "measurement_id"])

3. Rename the species_name column to just species.

In [27]:
df["species"] = df.species_name

4. Create dummy variables of the species name and concatenate onto the iris dataframe. (This is for practice, we don't always have to encode the target, but if we used species as a feature, we would need to encode it).

In [29]:
dummy_df = pd.get_dummies(df[["species_name"]], dummy_na=False, drop_first=[True])

In [30]:
df = pd.concat([df, dummy_df], axis=1)

5. Create a function named prep_iris that accepts the untransformed iris data, and returns the data with the transformations above applied.

In [10]:
def prep_iris(df):
    df["species"] = df.species_name
    df = df.drop(columns=["species_id", "measurement_id", "species"])
    dummy_df = pd.get_dummies(df[["species_name"]], drop_first=[True])
    df = pd.concat([df, dummy_df], axis=1)
    return df

In [15]:
iris_df = acq.get_iris_data(directory)

In [16]:
iris_df = prep_iris(iris_df)

In [17]:
iris_df

,sepal_length,sepal_width,petal_length,petal_width,species_name,species_name_versicolor,species_name_virginica
0,5.1,3.5,1.4,0.2,setosa,0,0
1,4.9,3.0,1.4,0.2,setosa,0,0
2,4.7,3.2,1.3,0.2,setosa,0,0
3,4.6,3.1,1.5,0.2,setosa,0,0
4,5.0,3.6,1.4,0.2,setosa,0,0
...,...,...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,virginica,0,1
146,6.3,2.5,5.0,1.9,virginica,0,1
147,6.5,3.0,5.2,2.0,virginica,0,1
148,6.2,3.4,5.4,2.3,virginica,0,1
149,5.9,3.0,5.1,1.8,virginica,0,1

Using the Titanic dataset

1. Use the function defined in acquire.py to load the Titanic data.

In [9]:
df_titanic = acq.get_titanic_data(directory)

2. Drop any unnecessary, unhelpful, or duplicated columns.

3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [10]:
def prep_titanic(df):
    '''
    This function will clean the the titanic dataset
    '''
    df = df.drop(columns =['embark_town','class','age','deck'])

    df.embarked = df.embarked.fillna(value='S')

    dummy_df = pd.get_dummies(df[['sex','embarked']], drop_first=True)
    df = pd.concat([df, dummy_df], axis=1)
    return df

4. Create a function named prep_titanic that accepts the raw titanic data, and returns the data with the transformations above applied.

In [11]:
prep_titanic(df_titanic)

,passenger_id,survived,pclass,sex,sibsp,parch,fare,embarked,alone,sex_male,embarked_Q,embarked_S
0,0,0,3,male,1,0,7.2500,S,0,1,0,1
1,1,1,1,female,1,0,71.2833,C,0,0,0,0
2,2,1,3,female,0,0,7.9250,S,1,0,0,1
3,3,1,1,female,1,0,53.1000,S,0,0,0,1
4,4,0,3,male,0,0,8.0500,S,1,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
886,886,0,2,male,0,0,13.0000,S,1,1,0,1
887,887,1,1,female,0,0,30.0000,S,1,0,0,1
888,888,0,3,female,1,2,23.4500,S,0,0,0,1
889,889,1,1,male,0,0,30.0000,C,1,1,0,0
890,890,0,3,male,0,0,7.7500,Q,1,1,1,0

Using the Telco dataset

1. Use the function defined in acquire.py to load the Telco data.

In [64]:
df_telco = acq.get_telco_data(directory)

In [14]:
df = df.drop(columns=["customer_id","payment_type_id", "internet_service_type_id", "contract_type_id"])

In [15]:
df

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,...,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,churn_month,signup_date,internet_service_type,payment_type
0,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,...,Yes,No,Yes,65.60,593.3,No,None,2021-04-21 18:07:34,DSL,Mailed check
1,Male,0,No,No,9,Yes,Yes,No,No,No,...,No,Yes,No,59.90,542.4,No,None,2021-04-21 18:07:34,DSL,Mailed check
2,Male,0,No,No,4,Yes,No,No,No,Yes,...,No,No,Yes,73.90,280.85,Yes,2022-01-31,2021-09-21 18:07:34,Fiber optic,Electronic check
3,Male,1,Yes,No,13,Yes,No,No,Yes,Yes,...,Yes,Yes,Yes,98.00,1237.85,Yes,2022-01-31,2020-12-21 18:07:34,Fiber optic,Electronic check
4,Female,1,Yes,No,3,Yes,No,No,No,No,...,Yes,No,Yes,83.90,267.4,Yes,2022-01-31,2021-10-21 18:07:34,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Female,0,No,No,13,Yes,No,Yes,No,No,...,No,No,No,55.15,742.9,No,None,2020-12-21 18:07:34,DSL,Mailed check
7039,Male,0,Yes,No,22,Yes,Yes,No,No,No,...,No,Yes,Yes,85.10,1873.7,Yes,2022-01-31,2020-03-21 18:07:34,Fiber optic,Electronic check
7040,Male,0,No,No,2,Yes,No,No,Yes,No,...,No,No,Yes,50.30,92.75,No,None,2021-11-21 18:07:34,DSL,Mailed check
7041,Male,0,Yes,Yes,67,Yes,No,Yes,No,Yes,...,No,Yes,No,67.85,4627.65,No,None,2016-06-21 18:07:34,DSL,Mailed check
7042,Male,0,Yes,Yes,63,No,No phone service,Yes,Yes,Yes,...,Yes,Yes,No,59.00,3707.6,No,None,2016-10-21 18:07:34,DSL,Electronic check

2. Drop any unnecessary, unhelpful, or duplicated columns. This could mean dropping foreign key columns but keeping the corresponding string values, for example.

In [16]:
df["churn_month"] = df.churn_month.fillna(0)
df

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,...,streaming_tv,streaming_movies,paperless_billing,monthly_charges,total_charges,churn,churn_month,signup_date,internet_service_type,payment_type
0,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,...,Yes,No,Yes,65.60,593.3,No,0,2021-04-21 18:07:34,DSL,Mailed check
1,Male,0,No,No,9,Yes,Yes,No,No,No,...,No,Yes,No,59.90,542.4,No,0,2021-04-21 18:07:34,DSL,Mailed check
2,Male,0,No,No,4,Yes,No,No,No,Yes,...,No,No,Yes,73.90,280.85,Yes,2022-01-31,2021-09-21 18:07:34,Fiber optic,Electronic check
3,Male,1,Yes,No,13,Yes,No,No,Yes,Yes,...,Yes,Yes,Yes,98.00,1237.85,Yes,2022-01-31,2020-12-21 18:07:34,Fiber optic,Electronic check
4,Female,1,Yes,No,3,Yes,No,No,No,No,...,Yes,No,Yes,83.90,267.4,Yes,2022-01-31,2021-10-21 18:07:34,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Female,0,No,No,13,Yes,No,Yes,No,No,...,No,No,No,55.15,742.9,No,0,2020-12-21 18:07:34,DSL,Mailed check
7039,Male,0,Yes,No,22,Yes,Yes,No,No,No,...,No,Yes,Yes,85.10,1873.7,Yes,2022-01-31,2020-03-21 18:07:34,Fiber optic,Electronic check
7040,Male,0,No,No,2,Yes,No,No,Yes,No,...,No,No,Yes,50.30,92.75,No,0,2021-11-21 18:07:34,DSL,Mailed check
7041,Male,0,Yes,Yes,67,Yes,No,Yes,No,Yes,...,No,Yes,No,67.85,4627.65,No,0,2016-06-21 18:07:34,DSL,Mailed check
7042,Male,0,Yes,Yes,63,No,No phone service,Yes,Yes,Yes,...,Yes,Yes,No,59.00,3707.6,No,0,2016-10-21 18:07:34,DSL,Electronic check

In [ ]:
df["multiple_lines"] = df.multiple_lines.replace("No phone service", "No")
df["online_security"] = df.online_security.replace("No internet service", "No")
df["online_backup"] = df.online_backup.replace("No internet service", "No")
df["device_protection"] = df.device_protection.replace("No internet service", "No")
df["streaming_tv"] = df.streaming_tv.replace("No internet service", "No")
df["streaming_movies"] = df.streaming_movies.replace("No internet service", "No")

In [ ]:
df.payment_type.value_counts()

In [16]:
df.churn_month.value_counts()

2022-01-31    1869
Name: churn_month, dtype: int64

In [23]:
df

,payment_type_id,internet_service_type_id,customer_id,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,...,streaming_movies,contract_type_id,paperless_billing,monthly_charges,total_charges,churn,churn_month,signup_date,internet_service_type,payment_type
0,2,1,0002-ORFBO,Female,0,Yes,Yes,9,Yes,No,...,No,2,Yes,65.60,593.3,No,None,2021-04-21 18:07:34,DSL,Mailed check
1,2,1,0003-MKNFE,Male,0,No,No,9,Yes,Yes,...,Yes,1,No,59.90,542.4,No,None,2021-04-21 18:07:34,DSL,Mailed check
2,1,2,0004-TLHLJ,Male,0,No,No,4,Yes,No,...,No,1,Yes,73.90,280.85,Yes,2022-01-31,2021-09-21 18:07:34,Fiber optic,Electronic check
3,1,2,0011-IGKFF,Male,1,Yes,No,13,Yes,No,...,Yes,1,Yes,98.00,1237.85,Yes,2022-01-31,2020-12-21 18:07:34,Fiber optic,Electronic check
4,2,2,0013-EXCHZ,Female,1,Yes,No,3,Yes,No,...,No,1,Yes,83.90,267.4,Yes,2022-01-31,2021-10-21 18:07:34,Fiber optic,Mailed check
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,2,1,9987-LUTYD,Female,0,No,No,13,Yes,No,...,No,2,No,55.15,742.9,No,None,2020-12-21 18:07:34,DSL,Mailed check
7039,1,2,9992-RRAMN,Male,0,Yes,No,22,Yes,Yes,...,Yes,1,Yes,85.10,1873.7,Yes,2022-01-31,2020-03-21 18:07:34,Fiber optic,Electronic check
7040,2,1,9992-UJOEL,Male,0,No,No,2,Yes,No,...,No,1,Yes,50.30,92.75,No,None,2021-11-21 18:07:34,DSL,Mailed check
7041,2,1,9993-LHIEB,Male,0,Yes,Yes,67,Yes,No,...,Yes,3,No,67.85,4627.65,No,None,2016-06-21 18:07:34,DSL,Mailed check
7042,1,1,9995-HOTOH,Male,0,Yes,Yes,63,No,No phone service,...,Yes,3,No,59.00,3707.6,No,None,2016-10-21 18:07:34,DSL,Electronic check

In [ ]:
# check the nulls
df.isnull().mean()

3. Encode the categorical columns. Create dummy variables of the categorical columns and concatenate them onto the dataframe.

In [ ]:
dummy_df = pd.get_dummies(df[["gender", "churn", "partner", "dependents", "phone_service", "multiple_lines", "online_security", "online_backup", "device_protection", "streaming_tv", "paperless_billing", "internet_service_type", "payment_type"]], drop_first=[True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True])
df = pd.concat([df, dummy_df], axis=1)

4. Create a function named prep_telco that accepts the raw telco data, and returns the data with the transformations above applied.

In [65]:
def prep_telco(df):
    # drop unecessary columns
    df = df.drop(columns=["customer_id","payment_type_id", "internet_service_type_id", "contract_type_id"])
    # remove nulls and replace nulls with 0 (non-churn customers)
    df["churn_month"] = df.churn_month.fillna(0)
    # replace no service with no 
    df["multiple_lines"] = df.multiple_lines.replace("No phone service", "No")
    df["online_security"] = df.online_security.replace("No internet service", "No")
    df["online_backup"] = df.online_backup.replace("No internet service", "No")
    df["device_protection"] = df.device_protection.replace("No internet service", "No")
    df["streaming_tv"] = df.streaming_tv.replace("No internet service", "No")
    df["streaming_movies"] = df.streaming_movies.replace("No internet service", "No")
    # create dummies
    dummy_df = pd.get_dummies(df[["gender", "partner", "dependents", "phone_service", "multiple_lines", "online_security", "online_backup", "device_protection", "streaming_tv", "paperless_billing", "internet_service_type", "payment_type"]], drop_first=[True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True, True])
    df = pd.concat([df, dummy_df], axis=1)
    return df

In [15]:
df = acq.get_telco_data(directory)

In [66]:
df_telco = prep_telco(df)

In [67]:
df_telco

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,...,online_security_Yes,online_backup_Yes,device_protection_Yes,streaming_tv_Yes,paperless_billing_Yes,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
0,Female,0,Yes,Yes,9,Yes,No,No,Yes,No,...,0,1,0,1,1,0,0,0,0,1
1,Male,0,No,No,9,Yes,Yes,No,No,No,...,0,0,0,0,0,0,0,0,0,1
2,Male,0,No,No,4,Yes,No,No,No,Yes,...,0,0,1,0,1,1,0,0,1,0
3,Male,1,Yes,No,13,Yes,No,No,Yes,Yes,...,0,1,1,1,1,1,0,0,1,0
4,Female,1,Yes,No,3,Yes,No,No,No,No,...,0,0,0,1,1,1,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Female,0,No,No,13,Yes,No,Yes,No,No,...,1,0,0,0,0,0,0,0,0,1
7039,Male,0,Yes,No,22,Yes,Yes,No,No,No,...,0,0,0,0,1,1,0,0,1,0
7040,Male,0,No,No,2,Yes,No,No,Yes,No,...,0,1,0,0,1,0,0,0,0,1
7041,Male,0,Yes,Yes,67,Yes,No,Yes,No,Yes,...,1,0,1,0,0,0,0,0,0,1
7042,Male,0,Yes,Yes,63,No,No,Yes,Yes,Yes,...,1,1,1,1,0,0,0,0,1,0

Split your data

1. Write a function to split your data into train, test and validate datasets. Add this function to prepare.py.

In [7]:
#first split
train, test = train_test_split(df, #dataframe
                random_state=123, #setting my random seed
                test_size=0.20, #setting the size of my test df
                 stratify=df.churn #stratifying on my target variable
)

In [8]:
train.shape, test.shape

((5634, 36), (1409, 36))

In [9]:
#second split
train, validate = train_test_split(train, 
                random_state=123,
                 test_size=.25,
                 stratify= train.churn
                )

In [10]:
train.shape, validate.shape, test.shape

((4225, 36), (1409, 36), (1409, 36))

In [19]:
def split_data(df):
    '''
    Takes in the titanic dataframe and return train, validate, test subset dataframes
    '''
    train, test = train_test_split(df, #first split
                                   test_size=.2, 
                                   random_state=123, 
                                   stratify=df.churn)
    train, validate = train_test_split(train, #second split
                                       test_size=.25, 
                                       random_state=123, 
                                       stratify=train.churn)
    return train, validate, test

In [20]:
split_data(df_telco)

(      gender  senior_citizen partner dependents  tenure phone_service  \
 5911    Male               0      No        Yes      26            No
 2479  Female               0     Yes         No      47           Yes
 5889  Female               0      No         No       1           Yes
 6087    Male               0      No         No      69            No
 785   Female               0      No         No      51           Yes
 ...      ...             ...     ...        ...     ...           ...
 6102  Female               0     Yes         No       2           Yes
 356   Female               1      No         No      52            No
 1756    Male               0      No         No       4           Yes
 2127    Male               0      No         No      35           Yes
 3586  Female               0      No         No      10           Yes

      multiple_lines online_security online_backup device_protection  ...  \
 5911             No              No           Yes                No  ...
 2479            Yes              No            No                No  ...
 5889             No              No            No               Yes  ...
 6087             No             Yes           Yes                No  ...
 785              No              No            No                No  ...
 ...             ...             ...           ...               ...  ...
 6102             No              No           Yes               Yes  ...
 356              No              No           Yes               Yes  ...
 1756             No              No            No                No  ...
 2127            Yes             Yes            No                No  ...
 3586             No              No           Yes                No  ...

      online_security_Yes online_backup_Yes device_protection_Yes  \
 5911                   0                 1                     0
 2479                   0                 0                     0
 5889                   0                 0                     1
 6087                   1                 1                     0
 785                    0                 0                     0
 ...                  ...               ...                   ...
 6102                   0                 1                     1
 356                    0                 1                     1
 1756                   0                 0                     0
 2127                   1                 0                     0
 3586                   0                 1                     0

      streaming_tv_Yes  paperless_billing_Yes  \
 5911                1                      1
 2479                0                      0
 5889                0                      1
 6087                1                      1
 785                 1                      0
 ...               ...                    ...
 6102                0                      0
 356                 1                      1
 1756                0                      1
 2127                0                      0
 3586                0                      0

      internet_service_type_Fiber optic internet_service_type_None  \
 5911                                 0                          0
 2479                                 0                          1
 5889                                 0                          0
 6087                                 0                          0
 785                                  1                          0
 ...                                ...                        ...
 6102                                 1                          0
 356                                  0                          0
 1756                                 1                          0
 2127                                 0                          0
 3586                                 0                          0

      payment_type_Credit card (automatic) payment_type_Electronic check  \
 5911                                    0                             0
 2479                                    0                             1
 5889                                    0                             0
 6087                                    0                             0
 785                                     1                             0
 ...                                   ...                           ...
 6102                                    0                             0
 356                                     0                             1
 1756                                    0                             1
 2127                                    0                             0
 3586                                    0                             0

      payment_type_Mailed check
 5911                         0
 2479                         0
 5889                         1
 6087                         0
 785                          0
 ...                        ...
 6102                         0
 356                          0
 1756                         0
 2127                         1
 3586                         1

 [4225 rows x 36 columns],
       gender  senior_citizen partner dependents  tenure phone_service  \
 3554  Female               0      No         No      56           Yes
 2063  Female               0      No         No      67           Yes
 1737    Male               1     Yes         No      17           Yes
 5894  Female               0     Yes        Yes      45           Yes
 209   Female               1     Yes         No      68           Yes
 ...      ...             ...     ...        ...     ...           ...
 2529  Female               1     Yes         No      14           Yes
 6540    Male               0     Yes        Yes      13           Yes
 5765    Male               0     Yes         No      72           Yes
 6959  Female               0      No        Yes      34           Yes
 3108  Female               0     Yes         No      61           Yes

      multiple_lines online_security online_backup device_protection  ...  \
 3554            Yes              No           Yes               Yes  ...
 2063             No             Yes           Yes                No  ...
 1737             No              No           Yes                No  ...
 5894            Yes              No            No                No  ...
 209             Yes              No           Yes                No  ...
 ...             ...             ...           ...               ...  ...
 2529            Yes              No           Yes                No  ...
 6540            Yes              No            No                No  ...
 5765            Yes              No           Yes               Yes  ...
 6959             No             Yes            No               Yes  ...
 3108            Yes              No            No                No  ...

      online_security_Yes online_backup_Yes device_protection_Yes  \
 3554                   0                 1                     1
 2063                   1                 1                     0
 1737                   0                 1                     0
 5894                   0                 0                     0
 209                    0                 1                     0
 ...                  ...               ...                   ...
 2529                   0                 1                     0
 6540                   0                 0                     0
 5765                   0                 1                     1
 6959                   1                 0                     1
 3108                   0                 0                     0

      streaming_tv_Yes  paperless_billing_Yes  \
 3554                1                      1
 2063                0                      0
 1737                0                      1
 5894                0                      1
 209                 1                      1
 ...               ...                    ...
 2529                1                      1
 6540                0                      1
 5765                1                      1
 6959                1                      0
 3108                1                      0

      internet_service_type_Fiber optic internet_service_type_None  \
 3554                                 1                          0
 2063                                 0                          0
 1737                                 1                          0
 5894                                 0                          1
 209                                  1                          0
 ...                                ...                        ...
 2529                                 1                          0
 6540                                 1                          0
 5765                                 1                          0
 6959                                 0                          0
 3108                                 1                          0

      payment_type_Credit card (automatic) payment_type_Electronic check  \
 3554                                    0                             1
 2063                                    1                             0
 1737                                    0                             1
 5894                                    0                             0
 209                                     0                             1
 ...                                   ...                           ...
 2529                                    0                             1
 6540                                    1                             0
 5765                                    0                             0
 6959                                    1                             0
 3108                                    0                             0

      payment_type_Mailed check
 3554                         0
 2063                         0
 1737                         0
 5894                         0
 209                          0
 ...                        ...
 2529                         0
 6540                         0
 5765                         0
 6959                         0
 3108                         0

 [1409 rows x 36 columns],
       gender  senior_citizen partner dependents  tenure phone_service  \
 3160  Female               0     Yes        Yes      51           Yes
 1577  Female               0     Yes         No      65           Yes
 6823  Female               0      No         No      18           Yes
 3615    Male               0      No         No      25           Yes
 882   Female               1      No         No       4           Yes
 ...      ...             ...     ...        ...     ...           ...
 1097  Female               0      No         No       2           Yes
 6441    Male               0      No         No       1           Yes
 5985  Female               0      No         No      67           Yes
 2452    Male               0     Yes        Yes      72            No
 983     Male               0      No         No      11           Yes

      multiple_lines online_security online_backup device_protection  ...  \
 3160            Yes             Yes            No                No  ...
 1577             No             Yes           Yes               Yes  ...
 6823             No             Yes            No                No  ...
 3615             No             Yes            No               Yes  ...
 882             Yes              No            No               Yes  ...
 ...             ...             ...           ...               ...  ...
 1097             No              No            No               Yes  ...
 6441             No              No            No                No  ...
 5985            Yes              No            No                No  ...
 2452             No             Yes           Yes               Yes  ...
 983              No              No           Yes                No  ...

      online_security_Yes online_backup_Yes device_protection_Yes  \
 3160                   1                 0                     0
 1577                   1                 1                     1
 6823                   1                 0                     0
 3615                   1                 0                     1
 882                    0                 0                     1
 ...                  ...               ...                   ...
 1097                   0                 0                     1
 6441                   0                 0                     0
 5985                   0                 0                     0
 2452                   1                 1                     1
 983                    0                 1                     0

      streaming_tv_Yes  paperless_billing_Yes  \
 3160                1                      1
 1577                0                      0
 6823                1                      1
 3615                1                      1
 882                 0                      1
 ...               ...                    ...
 1097                1                      0
 6441                0                      1
 5985                0                      1
 2452                0                      0
 983                 0                      1

      internet_service_type_Fiber optic internet_service_type_None  \
 3160                                 1                          0
 1577                                 0                          0
 6823                                 1                          0
 3615                                 1                          0
 882                                  1                          0
 ...                                ...                        ...
 1097                                 0                          0
 6441                                 0                          0
 5985                                 0                          1
 2452                                 0                          0
 983                                  1                          0

      payment_type_Credit card (automatic) payment_type_Electronic check  \
 3160                                    0                             0
 1577                                    0                             0
 6823                                    0                             1
 3615                                    0                             1
 882                                     0                             1
 ...                                   ...                           ...
 1097                                    0                             1
 6441                                    0                             0
 5985                                    0                             0
 2452                                    1                             0
 983                                     0                             1

      payment_type_Mailed check
 3160                         1
 1577                         0
 6823                         0
 3615                         0
 882                          0
 ...                        ...
 1097                         0
 6441                         1
 5985                         0
 2452                         0
 983                          0

 [1409 rows x 36 columns])

2. Run the function in your notebook on the Iris dataset, returning 3 datasets, train_iris, validate_iris and test_iris.

In [61]:
def split_data(df, stratify_col):
    '''
    Takes in two arguments the dataframe name and the colum to stratify and 
    return train, validate, test subset dataframes
    '''
    train, test = train_test_split(df, #first split
                                   test_size=.2, 
                                   random_state=123, 
                                   stratify=df[stratify_col])
    train, validate = train_test_split(train, #second split
                                       test_size=.25, 
                                       random_state=123, 
                                       stratify=train[stratify_col])
    return train, validate, test

3. Run the function on the Titanic dataset, returning 3 datasets, train_titanic, validate_titanic and test_titanic.

In [3]:
titanic_df = acq.get_titanic_data(directory)

In [5]:
titanic_df = prep.prep_titanic(titanic_df)

In [7]:
prep.split_data(titanic_df, "survived")

(     passenger_id  survived  pclass     sex  sibsp  parch      fare embarked  \
 455           455         1       3    male      0      0    7.8958        C
 380           380         1       1  female      0      0  227.5250        C
 492           492         0       1    male      0      0   30.5000        S
 55             55         1       1    male      0      0   35.5000        S
 243           243         0       3    male      0      0    7.1250        S
 ..            ...       ...     ...     ...    ...    ...       ...      ...
 695           695         0       2    male      0      0   13.5000        S
 128           128         1       3  female      1      1   22.3583        C
 636           636         0       3    male      0      0    7.9250        S
 222           222         0       3    male      0      0    8.0500        S
 496           496         1       1  female      1      0   78.2667        C

      alone  sex_male  embarked_Q  embarked_S
 455      1         1           0           0
 380      1         0           0           0
 492      1         1           0           1
 55       1         1           0           1
 243      1         1           0           1
 ..     ...       ...         ...         ...
 695      1         1           0           1
 128      0         0           0           0
 636      1         1           0           1
 222      1         1           0           1
 496      0         0           0           0

 [534 rows x 12 columns],
      passenger_id  survived  pclass     sex  sibsp  parch     fare embarked  \
 176           176         0       3    male      3      1  25.4667        S
 372           372         0       3    male      0      0   8.0500        S
 678           678         0       3  female      1      6  46.9000        S
 778           778         0       3    male      0      0   7.7375        Q
 463           463         0       2    male      0      0  13.0000        S
 ..            ...       ...     ...     ...    ...    ...      ...      ...
 622           622         1       3    male      1      1  15.7417        C
 302           302         0       3    male      0      0   0.0000        S
 518           518         1       2  female      1      0  26.0000        S
 765           765         1       1  female      1      0  77.9583        S
 837           837         0       3    male      0      0   8.0500        S

      alone  sex_male  embarked_Q  embarked_S
 176      0         1           0           1
 372      1         1           0           1
 678      0         0           0           1
 778      1         1           1           0
 463      1         1           0           1
 ..     ...       ...         ...         ...
 622      0         1           0           0
 302      1         1           0           1
 518      0         0           0           1
 765      0         0           0           1
 837      1         1           0           1

 [178 rows x 12 columns],
      passenger_id  survived  pclass     sex  sibsp  parch      fare embarked  \
 561           561         0       3    male      0      0    7.8958        S
 641           641         1       1  female      0      0   69.3000        C
 400           400         1       3    male      0      0    7.9250        S
 498           498         0       1  female      1      2  151.5500        S
 875           875         1       3  female      0      0    7.2250        C
 ..            ...       ...     ...     ...    ...    ...       ...      ...
 339           339         0       1    male      0      0   35.5000        S
 841           841         0       2    male      0      0   10.5000        S
 442           442         0       3    male      1      0    7.7750        S
 815           815         0       1    male      0      0    0.0000        S
 53             53         1       2  female      1      0   26.0000        S

      alone  sex_male  embarked_Q  embarked_S
 561      1         1           0           1
 641      1         0           0           0
 400      1         1           0           1
 498      0         0           0           1
 875      1         0           0           0
 ..     ...       ...         ...         ...
 339      1         1           0           1
 841      1         1           0           1
 442      0         1           0           1
 815      1         1           0           1
 53       0         0           0           1

 [179 rows x 12 columns])

4. Run the function on the Telco dataset, returning 3 datasets, train_telco, validate_telco and test_telco.

In [5]:
telco_df = acq.get_telco_data(directory)

In [8]:
telco_df = prep.prep_telco(telco_df)

In [10]:
telco_train, telco_validate, telco_test = prep.split_data(telco_df, "churn")

In [11]:
telco_train

,gender,senior_citizen,partner,dependents,tenure,phone_service,multiple_lines,online_security,online_backup,device_protection,...,online_security_Yes,online_backup_Yes,device_protection_Yes,streaming_tv_Yes,paperless_billing_Yes,internet_service_type_Fiber optic,internet_service_type_None,payment_type_Credit card (automatic),payment_type_Electronic check,payment_type_Mailed check
5911,Male,0,No,Yes,26,No,No,No,Yes,No,...,0,1,0,1,1,0,0,0,0,0
2479,Female,0,Yes,No,47,Yes,Yes,No,No,No,...,0,0,0,0,0,0,1,0,1,0
5889,Female,0,No,No,1,Yes,No,No,No,Yes,...,0,0,1,0,1,0,0,0,0,1
6087,Male,0,No,No,69,No,No,Yes,Yes,No,...,1,1,0,1,1,0,0,0,0,0
785,Female,0,No,No,51,Yes,No,No,No,No,...,0,0,0,1,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6102,Female,0,Yes,No,2,Yes,No,No,Yes,Yes,...,0,1,1,0,0,1,0,0,0,0
356,Female,1,No,No,52,No,No,No,Yes,Yes,...,0,1,1,1,1,0,0,0,1,0
1756,Male,0,No,No,4,Yes,No,No,No,No,...,0,0,0,0,1,1,0,0,1,0
2127,Male,0,No,No,35,Yes,Yes,Yes,No,No,...,1,0,0,0,0,0,0,0,0,1
3586,Female,0,No,No,10,Yes,No,No,Yes,No,...,0,1,0,0,0,0,0,0,0,1